*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
app/apkpatch/opt/hot.apatch
app/apkpatch/opt/
app/apkpatch/new.apk
app/apkpatch/old.apk
